body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#frame {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  border-radius: 0.5em;
  height: 3em;
  width: 3em;
  margin: 1em;
  box-shadow: 0.5em 0.5em 1em 0.5em;
}
.boxes:hover {
  cursor: pointer;
  rotate: -720deg;
  transition: 2.5s;
  box-shadow: none;
      -webkit-transform: scale(0.5);
      transform: scale(0.5)
}

.boxA {
  background-color: blue;
}
.boxB {
  background-color: springgreen;
}
.boxC {
  background-color: lightcoral;
}
.boxD {
  background-color: violet;
}
.boxE {
  background-color: chocolate;
}
.boxF {
  background-color: deeppink;
}
.boxG {
  background-color: gold;
}
.boxH {
  background-color: forestgreen;
}
.boxI {
  background-color: lightskyblue;
}
.boxJ {
  background-color: fuchsia;
}
